$grid-padding: 15px;
$grid-margin: 15px;
$count-column: 12;
$count-width: 100 / $count-column;
$brackpoints: (
  "xs": 320px,
  "sm": 768px,
  "md": 992px,
  "lg": 1200px,
);
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -$grid-margin;
  margin-right: -$grid-margin;
}
[class^="col-"] {
  padding-left: $grid-padding;
  padding-right: $grid-padding;
}
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  @for $i from 1 through $count-column {
    &-#{$i} {
      max-width: ($i * $count-width) * 1%;
      flex: 0 0 ($i * $count-width) * 1%;
    }
  }
}
@each $status, $brackpoints-size in $brackpoints {
  @media (min-width: $brackpoints-size) {
    .col-#{$status} {
      @for $i from 1 through $count-column {
        &-#{$i} {
          max-width: ($i * $count-width) * 1%;
          flex: 0 0 ($i * $count-width) * 1%;
        }
      }
    }
  }
}
